@model MuziekDto

@{
    ViewData["Title"] = "Details";
}

<h1>🎵 Details</h1>

<hr />

<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MuziekID)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MuziekID)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Titel)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Titel)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artiest)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artiest)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Bron)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Bron)
        </dd>
    </dl>
</div>

@if (!string.IsNullOrEmpty(Model.ThumbnailUrl))
{
    <div class="mb-3">
        <img src="@Model.ThumbnailUrl" class="img-fluid rounded" alt="Thumbnail" style="max-width:320px;" />
    </div>
}

@if (!string.IsNullOrEmpty(Model.YouTubeVideoId))
{
    <div class="mb-4">
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/@Model.YouTubeVideoId" title="YouTube player" allow="autoplay; encrypted-media" allowfullscreen frameborder="0"></iframe>
        </div>
    </div>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model.MuziekID" class="btn btn-primary">✏️ Bewerken</a>
    <a asp-action="Delete" asp-route-id="@Model.MuziekID" class="btn btn-danger">🗑️ Verwijderen</a>
    <a asp-action="Index" class="btn btn-secondary">🔙 Terug naar Lijst</a>
</div>

